extends layout

block content
  div(ng-controller="MessageController")
    h1= title
    h2 {{message}}
    p Further information:
      a(href="http://blog.techdept.co.uk/2013/09/an-experiment-with-google-and-javascript/") http://blog.techdept.co.uk/2013/09/an-experiment-with-google-and-javascript
    p Github repository:
      a(href="https://github.com/chrisfoster78/GoogleJavascriptExperiment") https://github.com/chrisfoster78/GoogleJavascriptExperiment
     